body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8px;
    margin-bottom: 20%;
}



.container {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 6%;
}

.text {
    font-weight: lighter;
}

.text-keterangan-waktu {
    text-align: right;
    margin-bottom: 3%;
}

.box-keterangan-tujuan {
    width: 20%;
    margin-bottom: 5%;
}

.text-keterangan-pt {
    margin-top: -3%;
}

td {
    font-weight: lighter;
    font-size: 16px;
    padding-left: 5%;
    width: -10%;
}

.table {
    width: 100%;
    font-size: 20px;
    line-height: 25px;
}

td .td-1 {
    padding-left: 10%;
}

.footer {
    margin-top: 5%;
    margin-bottom: 10%;
}